body {
    font-family: "Roboto", sans-serif;
    padding: 1rem 2rem;
    background-color: #F2F2F2;
}

form {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    border-radius: 5px;
    padding: 1rem 2rem;
}

form .title {
    font-size: 2rem;
    text-align: center;
}

form .box {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
}

.box label {
    font-size: 1.3rem;
}

.box input {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
}

.box input:valid {
    border: 1px solid #4CB050;
}

.box input:valid:focus {
    outline: 2px solid #4CB050;
}

.box select {
    padding: 0.5rem;
    background-color: #F2F2F2;
    border-radius: 5px;
    border: 1px solid #E4E4E4;
}

form .subtitle {
    font-weight: 400;
    font-size: 1.3rem;
}

.doble-box {
    display: flex;
    gap: 2rem;
}

.doble-box .box--genero {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    gap: 0.5rem;
}

form button {
    color: #FFFFFF;
    background-color: #4CB050;
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}